.htaccess
.DS_Store?
uploads/*
themes/twentyten/*
themes/twentyeleven/*
themes/twentytwelve/*
plugins/*
index.php
upgrade/*
themes/margeaux_work/*
themes/margeaux/lib/metabox/*
NOTmu-plugins/*
not-used-plugins/*
themes/margeaux/assets/*
themes/margeaux/assets/spinner.gig
themes/margeaux/assets/twitter.png
themes/margeaux/assets/mw_logo.jpg
themes/margeaux/assets/facebook.png